﻿@model IEnumerable<dahkm_MDB.API.Domain.Models.Entities.Transactions>

<br />
<h2 style="text-align: center">Transactions</h2>

@{ 

    var feb = 0;
    var mar = 0;
    var april = 0;

    foreach (var item in Model)
        if(item.Quantity%3 == 0)
        {
            feb += 1;
        }
        else if (item.Quantity%3 == 2)
        {
            mar += 1;
        }
        else
        {
            april += 1;
        }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
    <div id="chartContainer"></div>

    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1",
                animationEnabled: true,
                axisX: {
                    valueFormatString: "YYYY",
                    interval: 1,
                    intervalType: "year"

                },
                axisY: {
                    title: "Transactions"
                },

                data: [
                {
                    type: "area",
                    dataPoints: [
                    { x: new Date(2020, 2, 1), y: @feb },
                    { x: new Date(2020, 3, 1), y: @mar },
                    { x: new Date(2020, 4, 1), y: @april }
                    ]
                }
                ]
            });

            chart.render();
        };
    </script>

</body>
</html>