﻿@model IEnumerable<dahkm_MDB.API.Domain.Models.Entities.LoginAttempts>

<br />
<h2 style="text-align: center">Login attempts</h2>

@{ 
    var success = 0;
    var fail = 0;

    foreach(var item in Model)
    {
        if(item.Successful == true)
        {
            success += 1;
        }
        else
        {
            fail += 1;
        }
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>

<body>
    <div id="chartContainer"></div>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                legend: {
                    verticalAlign: "center",
                    horizontalAlign: "left",
                    fontSize: 20,
                    fontFamily: "Helvetica"
                },
                theme: "light3",
                data: [
                {
                    type: "pie",
                    startAngle: -20,
                    showInLegend: true,
                    dataPoints: [
                        { y: @success, legendText: "Success", label: "Success" },
                        { y: @fail, legendText: "Fail", label: "Fail" }
                    ]
                }
                ]
            });
            chart.render();
        };
    </script>

</body>
</html>	