﻿@model IEnumerable<dahkm_MDB.API.Domain.Models.Entities.BikeSalesType>

<h3>Bike types</h3>

@{
    var mountain = 0;
    var road = 0;
    var race = 0;
    var mountainfull = 0;
    var hybrid = 0;
    var track = 0;
    var leisure = 0;
}

@{
    foreach (var item in Model)
    {
        if (item.modelType == "Mountain")
        {
            mountain += 1;
        }
        else if (item.modelType == "Road")
        {
            road += 1;
        }
        else if (item.modelType == "Race")
        {
            race += 1;
        }
        else if (item.modelType == "Mountain full")
        {
            mountainfull += 1;
        }
        else if (item.modelType == "Hybrid")
        {
            hybrid += 1;
        }
        else if (item.modelType == "Leisure")
        {
            leisure += 1;
        }
        else
        {
            track += 1;
        }
    }
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>WonderWheels Monitoring</title>
</head>
<body>
    <div id="chartContainer"></div>
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light1",
                animationEnabled: true,
                title: {
                    text: "Bike sales type metrics"
                },
                data: [
                {
                    type: "column",
                    dataPoints: [
                         { y: @mountain, label: "Mountain" },
                         { y: @road, label: "Road" },
                         { y: @race, label: "Race" },
                         { y: @mountainfull, label: "Mountain full" },
                         { y: @hybrid, label: "Hybrid" },
                         { y: @track, label: "Track" },
                         { y: @leisure, label: "Leisure" }
                    ]
                }
                ]
            });
            chart.render();
        };
    </script>

</body>
</html>	